*{margin: 0;
padding: 0;
}
body {
    font-family: "TT Lakes", sans-serif;
    width: auto;

}
main {
    background-color: #F8F8F8

}
.menu {
    display: flex;
    align-items: center;
    border-bottom: #D9FFF5 solid 1px;
    height: 88px;
    list-style-type: none;
    justify-content: space-between;
}
.menu__list--pc{
    display: none;
}
.menu__list--burger {
    margin-left: 16px;
}

.menu__list--group {
    margin-right: auto;
    margin-left: 21px;
}

.menu__list--poisk {
    margin-right: 16px;
    margin-left: 16px;
}
.menu__list--repair {
    margin-left: 20px;
}
.menu__list--divider-firs {
    margin-left: 20px;
    display: none;
}
.menu__list--group {
    padding-right: 17px;
    margin-right: auto;
}
.menu__list--profile {
    margin-right: 16px;
    margin-left: 16px;
    display: none;

}
.menu__list--call {
    display: none;
    margin-left: auto;
    margin-right: 16px;
}
.menu__list--chat {
    display: none;
}



.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    padding-top: 24px;
}
.header__list--name {
    width: 288px;
    height: 40px;
    margin-left: 12px;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-top: 24px;
    white-space: nowrap;
    overflow: auto;
    -ms-overflow-style: none;
    color: #7E7E82;
    font-size: 16px;
}

.nav--active {
    border: #B8FFEC solid 2px;
    white-space: nowrap;
    border-radius: 6px;
    padding: 8px 9px 8px 17px;
    margin-right: 20px;
    margin-left: 16px;
    background-color: white;
}
.nav--second {
    margin-right: 20px;
}

.nav--third {
    margin-right: 20px;
}

.nav--fourth {
    margin-right: 20px;
}

.nav--fifth {
    margin-right: 20px;
}



.nav::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;



}

.blog__link {
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
}
.blog__next {

    font-weight: 600;
}

.blog__text {
    font-size: 14px;
    text-align: left;
    line-height: 18px;
    margin: 24px 0 0 16px;
    width: 288px;
    height: 90px;

}
.blog__image--mobile {
margin-top: 50px;
}
.blog__image--pc {
    display: none;
}
.blog__image--laptop {
    display: none;
}
.blog__text--laptop {
    display: none;
}
.blog__text--pc {
    display: none;
}
.menu__list--repair--text {
    display: none;
}
.menu__list--poisk--text {
    display: none;
}
.menu__pc {
    display: none;
}
@media (min-width:768px) {
    .menu__list--pc {
        display: none;
    }

    .blog__text--laptop {
        display: block;
    }

    .menu__list--profile {
        margin-left: 16px;
        display: block;

    }

    .menu__list--call {
        display: block;
        margin-left: auto;
        margin-right: 16px;
    }

    .menu__list--chat {
        display: block;
    }

    .menu__list--divider-firs {
        display: block;
        margin-left: 20px;
    }
    .menu__list--burger {
        margin-left: 24px;
    }
    .blog__image--mobile {
        display: none;
    }
    .blog__image--pc {
        display: none;
    }
    .blog__image--laptop {
        display: block;
        border-radius: 6px;
        margin-top: 40px;
        margin-bottom: 26px;
    }
    .header__list--name {
        margin-left: 20px;
    }
    .blog__text {
        font-size: 14px;
        text-align: left;
        line-height: 18px;
        margin: 32px 48px 10px 24px;
        width: 288px;
        height: 90px;
    }
    .nav--active{
        margin-left: 24px;
        margin-right: 0;
    }
    .nav--second {
        margin-left: 16px;
        margin-right: 25px;
    }

    .nav--third {
        margin-right: 25px;
    }

    .nav--fourth {
        margin-right: 21px;
    }

    .nav--fifth {
        margin-right: 25px;
    }

}
@media (min-width: 1120px) {
    .menu {
        background-color: #F8F8F8;
        border-bottom: #D9FFF5 solid 0;

    }
    .menu__list--pc {
        display: flex;
        align-items: center;
    }
    .menu__header--name {
    font-size: 28px;
    margin-left: 32px;
    }
    .menu__list--burger {
        margin-left: 16px;
        display: none;
    }

    .menu__list--group {
        margin-right: auto;
        margin-left: 21px;
        display: none;
    }


    .menu__list--divider-firs {
        margin-left: 20px;
        display: none;
    }
    .menu__list--group {
        padding-right: 17px;
        margin-right: auto;
        display: none;
    }
    .menu__list--profile {
        margin-right: 16px;
        margin-left: 16px;
        display: none;
    }
    .menu__list--call {
        display: none;
        margin-left: auto;
        margin-right: 16px;
    }
    .menu__list--chat {
        display: none;
    }




    .menu__list--poisk {
        margin-right: 32px;
        margin-left: 8px;
    }
    .menu__list--repair {
        margin-right: 32px;
        margin-left: 8px;
    }
    .menu__list--repair--text {
        display: block;
        margin-left: auto;
    }
    .menu__list--poisk--text {
        display: block;
    }
    .menu__list--divider-firs {
        display: none;
    }
    .menu__list--divider {
        display: none;
    }
    .header {
        display: none;
    }

    .nav {
        margin-left: 32px;
        margin-top: 0;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        height: 82px;
    }
    .nav--active{
        margin-left: 0;
        margin-right: 19px;

    }
    .nav--second{
        margin-left: 14px;
        margin-right: 34px;

    }
    .nav--third{
        margin-right: 27px;

    }
    .nav--fourth{
        margin-right: 21px;

    }
    .nav--fifth{
        margin-right: 37px;
    }
    .nav--sixth {
        margin-left: 21px;
    }

    .blog__text--pc {
        display: block;
    }
    .blog__text {
        width: 490px;
        height: 160px;
    }

    .blog__image--pc {
        display: block;
        border-radius: 6px;
        margin-top: 10px;
        margin-bottom: 49px;
    }
    .blog__text--laptop {
        display: none;
    }
    .blog__image--mobile {
        display: none;
    }
    .blog__image--laptop {
        display: none;
    }
    .blog {
        margin-top: 19px;
    }
    .blog__text {
        font-size: 14px;
        text-align: left;
        line-height: 18px;
        margin: 0 36px 14px 34px;
        width: 490px;
        height: 160px;
    }
    .blog__link {
        margin-left: 0;
    }

}